body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background-color 0.3s ease, color 0.3s ease;
}

h1 {
    text-align: center;
}

#gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center the items horizontally */
    align-items: center; /* Center the items vertically */
}

.img-container {
    margin-left: 15px; /* Fixed spacing at the top */
    margin-right: 15px;
    margin-top: 25px; /* Fixed spacing at the top */
    margin-bottom: 25px; /* Fixed spacing at the bottom */
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Ensure the zoom effect is contained within the container */
    transition: transform 0.3s ease; /* Smooth transition for the zoom effect */
}

.img-container img {
    width: auto;
    min-width: 50px;
    max-width: 553px;
    height: 253px;
    object-fit: cover;
    border-radius: 8px;
    transition: transform 0.3s ease; /* Smooth transition for the zoom effect */
}

.img-container:hover {
    transform: scale(1.1); /* Zoom in by 10% when hovering */
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}

.modal-content {
    max-width: 80%;
    max-height: 80%;
    overflow: hidden;
    position: relative;
}

.modal-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 8px;
}

/* ... (previous styles) ... */

.modal-buttons {
    position: absolute;
    bottom: 0px;
    right: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: auto;
}

/* Increase the size of the download button */
.modal-buttons img {
    width: 62px;
    height: 62px;
    cursor: pointer;
    transition: transform 0.3s ease; /* Add a smooth transition for the hover effect */
}

/* Add a scale effect on hover */
.modal-buttons img:hover {
    transform: scale(1.2); /* Adjust the scale factor as needed */
}

/* ... (previous styles) ... */



@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #1a1a1a;
        --text-color: #ffffff;
        --button-bg-color: #333333;
        --button-text-color: #ffffff;
        --button-hover-bg-color: #555555;
        --button-hover-text-color: #ffffff;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --background-color: #ffffff;
        --text-color: #333333;
        --button-bg-color: #000000;
        --button-text-color: #ffffff;
        --button-hover-bg-color: #0056b3;
        --button-hover-text-color: #ffffff;
    }
}
