body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
}

h1 {
    color: red;
}

#downloadLinks a {
    color: red;
    text-decoration: none;
    margin-top: 20px;
}

#downloadLinks a:hover {
    text-decoration: underline;
}


a {
    color: red;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    max-width: 100%;
    border: 1px solid white; /* Add a white border to image previews */
    margin-right: 10px; /* Add some spacing between previews and download links */
}
